<section style="padding-top: 8em;">
    <div class="container">
    <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img style="width: 123px; height: 127px;" src="/images/{{moviebook._id}}{{eventsbook._id}}{{sportsbook._id}}{{tmoviesbook._id}}{{teventsbook._id}}{{tsportsbook._id}}.jpg" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{moviebook.Name}}{{eventsbook.Name}}{{sportsbook.Name}}{{tmoviesbook.Name}}{{teventsbook.Name}}{{tsportsbook.Name}}</h5>
        <p class="card-text">Price: {{moviebook.price}}{{eventsbook.price}}{{sportsbook.price}}{{tmoviesbook.price}}{{teventsbook.price}}{{tsportsbook.price}}</p>
        <p class="card-text">Date: {{moviebook.Year}}{{eventsbook.Date}}{{sportsbook.Date}}{{tmoviesbook.Year}}{{teventsbook.Date}}{{tsportsbook.Year}}</p>
        <p class="card-text">Genre: {{moviebook.Genre}}{{eventsbook.Genre}}{{sportsbook.Genre}}{{tmoviesbook.Genre}}{{teventsbook.Genre}}{{tsportsbook.Genre}}</p>
        <p class="card-text">Time/Hours: {{moviebook.Time}}{{eventsbook.Time}}{{sportsbook.Time}}{{tmoviesbook.Time}}{{teventsbook.Time}}{{tsportsbook.Time}}</p>
        <p class="card-text"><small class="text-muted">Your Ticket Has been Booked</small></p>
      </div>
    </div>
  </div>
</div>
</div>
</section>