{{!-- <section class="mt-5">
    <div class="container">
    <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img style="width: 123px; height: 127px;" src="/images/{{sportsbook._id}}.jpg" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{sportsbook.Name}}</h5>
        <p class="card-text">Price: {{sportsbook.price}}</p>
        <p class="card-text">Date: {{sportsbook.Date}}</p>
        <p class="card-text">Genre: {{sportsbook.Genre}}</p>
        <p class="card-text">Time/Hours: {{sportsbook.Time}}</p>
        <p class="card-text"><small class="text-muted">Your Ticket Has been Booked</small></p>
      </div>
    </div>
  </div>
</div>
</div>
</section> --}}